{
  "checks": {
    "Random1": {
      "handler": [ "default" ],
      "command": "/checks/random.sh 100 150",
      "interval": 10,
      "standalone": true
    },
    "Random2": {
      "handler": [ "default" ],
      "command": "/checks/random.sh 50 150",
      "interval": 10,
      "standalone": true
    }
  }
}
